[submodule "core"]
	path = core
	url = https://github.com/intisy-ai/core
	branch = experimental
[submodule "core-auth"]
	path = core-auth
	url = https://github.com/intisy-ai/core-auth
	branch = experimental
[submodule "core-loader"]
	path = core-loader
	url = https://github.com/intisy-ai/core-loader
	branch = experimental
[submodule "core-proxy"]
	path = core-proxy
	url = https://github.com/intisy-ai/core-proxy
	branch = experimental
[submodule "plugin-host"]
	path = plugin-host
	url = https://github.com/intisy-ai/plugin-host.git
	branch = experimental
